/*btn css*/

.color-Btn{
  border-radius: 20px;
  background-color: #c7ffc37a;
  color: #46ce69;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  cursor: pointer;
  /* border: 1px solid #23df5213; */
}
.color-Btn:hover{
  background-color: #c6f5c38f;
}

.addbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1af;
  color:rgb(160, 160, 160);
  border-radius: 20px;
  width: 50%;
  height: 25px;
  font-size: 12px;
  margin-top: 10px;
}
.addbtn:hover{
  background-color: #dfdfdfe7;
  color:rgb(136, 136, 136);
}

.box{
  box-shadow: 0px 0px 3px #dcdcdc;
  background-color: #ffff;
  border-radius: 5px;
}