/*btn css*/

.color-Btn {
	border-radius: 2vw;
	color: #46ce69;
    background-color: #60e38140;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 500;
	cursor: pointer;
	padding-bottom: 0.12vw;
	transition: 0.25s;
}
.color-Btn:hover {
	transition: 0.25s;
    background-color: #64d882;
    color: #fff;
}

.addbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1af;
	color: rgb(160, 160, 160);
	border-radius: 2vw;
	width: 50%;
	height: 1.8vw;
	font-size: 0.76vw;
	margin-top: 0.8vw;
	cursor: pointer;
	transition: 0.25s;
}
.addbtn:hover {
	background-color: #dfdfdfe7;
	color: rgb(136, 136, 136);
	transition: 0.25s;
}

.box {
	box-shadow: 0px 0px 3px #dcdcdc;
	background-color: #ffff;
	border-radius: 0.4vw;
}

/*modal, alert btn & color */
.MA-Btn {
	width: 70px;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.Btn-color-green {
	transition: 0.25s;
	background-color: #60e38140;
    color: #46ce69;
}

.Btn-color-green:hover {
	transition: 0.25s;
    background-color: #64d882;
    color:#fff;
}

.Btn-color-gray {
	transition: 0.25s;
	background-color: #6e6e6e29;
    color: #858585;
}
.Btn-color-gray:hover {
	transition: 0.25s;
    background-color: #6e6e6ead;
    color:#fff;
}
.Btn-color-red{
	position: relative;
	transition: 0.25s;
	background-color: #ffa1a129;
    color: #ff6b6b;
	float: left;
	margin-right: 245px;
}

.Btn-color-red:hover{
	transition: 0.25s;
	background-color: #ffa1a129;
    color: #ff6b6b;
}

/* 일정추가 modal */
.schedule_tit {
	border:none;
	border-bottom:solid 0.3vh #ddd;
	font-size: 2.4vh;
	outline:none;
	transition: 0.25s;
	width:100%;
	margin-top:2vh;
}
.schedule_tit:focus {
	border-bottom:solid 0.3vh #64d882;
	transition: 0.25s;
}
.schedule_tit::placeholder {
	color:#bbb;
}
.schedule_sub {
	border: none;
    font-size: 1.8vh;
    outline: none;
    background-color: #eee;
    width: 100%;
    margin-top: 2vh;
    height: 15vh;
    border-radius: 0.5vh;
	padding:1vh;
	box-sizing: border-box;
	resize: none;
	font-family: 'NotoSansKr';
	transition: 0.25s;
	border-bottom:solid 0.3vh #eee;
}
.schedule_sub:focus {
	border-bottom:solid 0.3vh #64d882;
	transition: 0.25s;
}
.time {
	margin-top:2vh;
	font-size: 1.8vh;
}
.time .start, .time .fin {
	font-size: 1.8vh;
    border: none;
	outline:none;
	appearance:none;
}
.time .start > option, .time .fin > option {
}

.date_now {
	font-size: 1.5vh;
    margin-right: 1vh;
	color: #999;
	margin-bottom:1vh;
}
/*spinner*/

.spinner-box {
	position: absolute;
	width: 100vw;
	height: 100vh;
	justify-content: "center";
	align-items: "center";
	background-color: rgba(0, 0, 0, 0.425);
	z-index: 1000;
}

.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
	z-index: 1001;
}

.spinner-path {
	stroke: #4ce272;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
	z-index: 1000;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

/*Alert*/
.Alert-box {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.425);
	z-index: 200;
}
.Alert {
	z-index: 199;
	margin: 0px auto;
	position: relative;
	top: 32%;
	width: 30vw;
	height: 26vh;
	background-color: #ffff;
	border-radius: 0.8vh;
	box-shadow: 0px 0px 10px rgb(75 75 75 / 36%);
	animation-name: animateModal;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.Alert-Header {
	font-weight: 600;
	color: #6e6e6e;
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid rgb(236, 236, 236);
	font-size: 16px;
}
.Alert-Body {
	padding: 1.5vh 2vh;
	font-size: 1.7vh;
	color: #525252;
	border-bottom: 1px solid rgb(236, 236, 236);
	min-height: 10vh;
}
.Alert-Footer {
	display: flex;
	flex-direction: row;
	padding: 12px;
	font-size: 13px;
	color: #525252;
	position: absolute;
	right: 0;
}

/*Modal*/
.Modal-box {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: "center";
	align-items: "center";
	background-color: rgba(0, 0, 0, 0.425);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Modal {
	margin: 0px auto;
	background-color: #ffff;
	border-radius: 7px;
	box-shadow: 0px 0px 10px rgba(75, 75, 75, 0.363);
	width: 500px;
	max-height: 700px;
	z-index: 100;
	animation-name: animateModal;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}

.Modal-Header {
	color: #6d6d6d;
	padding: 1.5vh 2vh;
	text-align: left;
	border-bottom: 1px solid rgb(236, 236, 236);
	font-size: 2.2vh;
}
.Modal-Header .modal-tit {
	font-weight: 600;
}
.Modal-Body {
	padding: 1.5vh 2vh;
	font-size: 1.7vh;
	color: #525252;
	border-bottom: 1px solid rgb(236, 236, 236);
	max-height: 500px;
	overflow: scroll;
	min-height: 12vh;
}
.Modal-Footer {
	padding: 12px;
	font-size: 13px;
	color: #525252;
	display: flex;
	float: right;
}
.modal-ok {
  width: 10vh;
  height: 4vh;
  border: none;
  border-radius: 0.8vh;
  font-size: 1.6vh;
  background: rgb(198 246 175);
}
.modal-ok:hover {
  background: rgb(175, 243, 143);
  
}
.modal-ok:focus{ 	
  border: none;
  outline:none;
  }
.modal-cancel {
  width: 10vh;
  height: 4vh;
  border: none;
  border-radius: 0.8vh;
  font-size: 1.6vh;
  background: #eee;
  margin-right: 1vh;
}
.modal-cancel:hover {
  background: #dedede;
}
.modal-cancel:focus{ 	
  border: none;
  outline:none;
  }

/**프로필 편집 모달창 내용**/
.profile-img{
  width: 14vh;
  height: 14vh;
  border: 0.4vh solid #ddd;
  border-radius: 20vh;
  margin: 2vh auto;
}
.profile-name {
  margin: 0 auto;
  text-align:center;
}
.profile-name>h4{
  font-size: 2vh;
}
.profile-name .input-name {
  border: 0;
  width: 28vh;
  height: 4vh;
  margin-top: 1vh;
  padding-left: 1vh;
  padding-top: 0.4vh;
  font-size: 1.8vh;
}

/*모달 애니메이션*/
@keyframes animateModal {
	0% {
		top: -20vh;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}
