.Home-Layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home-Layout-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Home-Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4vw;
  font-weight: 500;
  height: 3.6vw;
  margin-top: 0.8vw;
  align-items: center;
}
.Home-box{
  box-shadow: 0px 0px 3px #dcdcdc;
  background-color: #ffff;
  border-radius: 0.4vw;
}

.Home-Header-btn{
  width: 4.6vw;
  height: 1.8vw;
  font-size: 0.76vw;
  margin-top: 0.4vw;
  position: relative;
  right: 0;
}

/* 캘린더 영역 */
.Home-Calendar{
  width: 64.4vw;
  max-height: 28.4vw;
  margin-right: 0.8vw;
  overflow: scroll;
}
.Home-Calendar-Calendar{
  min-height: 23vh;
}

/* 투두리스트 영역 */
.Home-TodoList{
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 28.4vw;
  text-align: left;
}
.Home-TodoList-tit{
  font-size: 1vw;
  padding-top: 0.5vw;
  font-weight: 500;
}
.Home-TodoList-list{
  width: 90%;
  height: 26.4vw;
  padding: 0.8vw 1.2vw 0.8vw 1.2vw;
}
.Home-TodoList-Item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 0.57vw;
  padding-bottom: 0.57vw;
  cursor: pointer;
}
.Home-TodoList-Item-Input{
  border: none;
  outline: none;
  margin: 0px;
  padding: 2px;
  font-size: 0.84vw;
}
.Home-TodoList-Item-cnt {
  font-size: 0.84vw;
}

.Home-TodoList-Item-ctn{
  margin-left: 0.7vw;
  font-size: 0.84vw;
  align-content: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  top: -0.12vw;
  position: relative;
}
.Home-TodoList-Btn {
  margin-left: 25%;
}
.textline{
  text-decoration: line-through;
  color: #a7a7a7;
}
.Home-TodoList-Icon{
  cursor: pointer;
  color: #5e5e5e;
}

/*메모 */
.Home-Memo-Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1vw;
  font-weight: 500;
  height: 1.9vw;
  align-items: center;
  margin-top: 1vw;
  width: 82vw;
}
.Home-Memo{
  margin-top: 0.5vw;
  height: 16vh;
  padding: 0.8vw;
  font-size: 0.8vw;
  width: 81vw;
}
.Home-memo-btn {
  width: 4.6vw;
  height: 1.8vw;
  font-size: 0.76vw;
  position: relative;
  right: 0;
  margin-bottom: 0.35vw;
}