@import '../css/Layout.css';
@import '../css/Home.css';
@import './Component.css';

body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  font-family: 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
