/*헤더*/
.header{
  width: 100%;
  height: 33px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
}
.header-Icons{
  position: fixed;
  right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 7px;
}
.header-Icon{
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #5e5e5e;
}
.header-Icon:hover{
  color: #46ce69;
}
.base-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*사이드메뉴*/
.sideMenu{
  width: 230px;
  height: 100%;
  box-shadow: 0 0 1px 2px #75757527;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
}
.sidePageMenu-open{
  margin-left: 230px;
  z-index: 9;
  -webkit-animation-name: openMenu;
  -webkit-animation-duration: 0.7s;
  animation-name: openMenu;
  animation-duration: 0.7s;
  width: 230px;
  height: 100%;
  box-shadow: 0 0 1px 2px #75757527;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.sidePageMenu-close{
  z-index: 0;
  -webkit-animation-name: closeMenu;
  -webkit-animation-duration: 0.7s;
  animation-name: closeMenu;
  animation-duration: 0.7s;
  width: 230px;
  height: 100%;
  box-shadow: 0 0 1px 2px #75757527;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.sideMenu-Logo{
  margin-top: 70px;
  margin-bottom: 25px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35.4px;
}
.sideMenu-Logo>img{
  width: 45%;
}
.sideMenu-Profile{
  justify-content: center;
  align-items: center;
  display: flex;
}
.sideMenu-Profile-img{
  position: relative;
  width: 67px;
  height: 67px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.sideMenu-Profile-fr{
  margin-bottom: 30px;
  width: 75px;
  height: 75px;
  background-image: linear-gradient(#7ef049aa, #46ce69);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.sideMenu-Btn{
  position: absolute;
  bottom: 0;
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#46ce69;
  background-color: #f1fff0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sideMenuItem, .sidePageMenu-tit, .sideMenuItem-select{
  width: 100%;
  height: 45px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: 1px solid #f1f1f1;
  cursor: pointer;
  border: none;
}
.sideMenuItem>p{
  font-weight: 600;
  font-size: 16px;
}
.sideMenuItem:hover{
  background-color: #f1fff0;
}
.sideMenuItem-select{
  background-color: #f1fff0;
}
.sideMenuItem>span, .sidePageMenu-tit>span {
  margin-left: 20px;
}

.sidePageMenu-tit{
  border-top: none;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 35px;
  background-color: #f1fff0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidePageMenu-tit>span{
  color:rgb(75, 75, 75);
  font-weight: 600;
}

.SidePageMenu-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}
.SidePageMenu-text-date{
  font-size: 10px;
  color:#5e5e5e;
}
/*sidemenu-page close animation*/
@keyframes openMenu {
  from { margin-left: 0%; }
  to { margin-left: 230px; }
}

/*sidemenu-page open animation*/
@keyframes closeMenu {
  from { margin-left: 230px; }
  to { margin-left: 0%; }
}

/* content */
.contents{
  margin-left: 210px;
  width:100%;
  justify-content: center;
  align-items: center;
  height: 790px;
  overflow: scroll;
  background-color: #f8f8f8;
  display: flex;
}