
  /**프로필 편집 모달창 내용**/
  .profile-img{
    width: 10vh;
    height: 10vh;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-img>label>img{
    height: 11.1vh;
    width: 11.1vh;
    border: 0.6vh solid #4fe674a9;
    border-radius: 20vh;
  }
  
  .profile-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-first>p{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .profile-first>span{
    font-size: 13px;
    margin-bottom: 20px;
  }
  .profile-first>p>span{
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 5px 0px #4fe674a9;
  }
  .profile-name {
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-name>span{
    font-size: 2vh;
    margin-right: 10px;
    font-weight: 600;
    margin-top: 5px;
    color: #5e5e5e;
  }
  .profile-name .input-name {
    border: none;
    border-bottom: 0.3vh solid rgb(207, 207, 207);
    width: 20vh;
    height: 4vh;
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    padding-left: 1vh;
    padding-top: 0.4vh;
    font-size: 1.8vh;
    text-align: left;
  }
  