#wrap {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}
#content {
    width: 96%;
    height: 90%;
    margin: 0 auto;
}
.title {
    display: inline-block;
}
.title_btns {
    display: block;
    margin: 1.6% 0;
    margin-top: 4.2%;
}
.write-tit{
    display: inline-block;
    font-size: 2.8vh;
    font-weight: 600;
    text-align: left;
    color: #707070;
    margin-right: 2.4vh;
}
.subject-name {
    display:inline-block;
    font-size: 2vh;
    color: #a2a2a2;
}

.input-title::-webkit-input-placeholder {
    color:#aaa;
}
.input-title::-ms-input-placeholder {
    color:#aaa;
}

.input-title {
    display: block;
    width: 100%;
    height: 5vh;
    border-radius: 1vh;
    padding: 0.3vh 0vh 0vh 1.8vh;
    font-size:1.8vh;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f6f6f6;
    background-color: #ffffff;
    float: right;
    outline: none;
}

.input-content {
    display: block;
    width: 100%;
    height: 83%;
    border-radius: 1vh;
    margin-top: 2.4vh;
    padding: 1.6vh 0vh 0vh 1.8vh;
    box-sizing: border-box;
    font-size:1.8vh;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f6f6f6;
    background-color: #ffffff;
    float: right;
    outline: none;
    font-family: NotoSansKr;
    resize: none;
}
.btns {
    display: inline-block;
    float:right;
    margin-top: 0.3vh;
}
.btns .cancel {
    transition: 0.25s;
    display: inline-block;
    width: 11vh;
    height: 3.6vh;
    border: 0;
    border-radius: 3vh;
    background-color: #6e6e6e29;
    font-size: 1.8vh;
    color: #858585;
    margin-right: 2vh;
    text-align: center;
    padding-top: 1.3%;
    box-sizing: border-box;
}

.btns .write-ok {
    display: inline-block;
    width: 11vh;
    height: 3.6vh;
    border: 0;
    border-radius: 3vh;
    background-color: #60e38140;
    font-size: 1.8vh;
    color: #46ce69;
    text-align: center;
    padding-top: 1.3%;
    box-sizing: border-box;
    transition: 0.25s;
}
.btns a {
    text-decoration: none;
}

.btns .write-ok:hover{
    transition: 0.25s;
    background-color: #64d882;
    color:#fff;
}

.btns .cancel:hover {
    transition: 0.25s;
    background-color: #6e6e6ead;
    color:#fff;
}